#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input{
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  color: black;
}

form {
  width: 50%;
  margin: 0 auto;
}

.signup {
  width: 50%;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  width: 20%;
}

@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
  }

  li {
    width: 85%;
    font-size: small;
  }

  button{
    font-size: smaller;
  }
  
}