/* styles.css */
body, html {
    margin: 0;
    padding: 0;
}

.main-logo {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

button a {
    color: white;
    text-decoration: none;
}
